

*{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
}
:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}


.container{
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 1fr;
    



}
.tablero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 1/3;
    grid-column: 2/3;
    gap: 10px;

}
.casilla{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    border-width: 2px;
    border-color: var(--text-input-field);
    font-size: 100px;

}
.casilla:hover{
    background-color: var(--text-input-field);
}
.leftbottons{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/3;
    gap: 120px;

}

.b{
    width: 160px;
    height: 70px;
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--very-light-pink);
    background-color: var(--hospital-green);
    font-size: 25px;
    color: white;
    font-weight: 700;
    

}

.select_figura{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 1/3;
    grid-column: 3/4;
    border: 10px;
    
    
    
    


}
.changefigure{
    grid-row: 1/2;
    grid-column: 1/3;
    font-size: 45px;
    align-self: end;
    

}
.figura{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 800;

}
.nombre{
    font-weight: 700;
    color: #979797;
    font-size: large;

}

.X{
    color: salmon;
}

.O{
    color: skyblue;
}
h1{
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    margin-top: 0;
    color: #979797;
    font-size: 50px;

}


