body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0px 0;
    height: 87vh;
    margin-top: 0;
    align-items: center;
    
    
    
}

#imagen1{
    object-fit: contain;
    width: 80%;
    height: 80%;
    margin-top: 0;
    grid-row: 1;
    align-items: center;

}


nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    background-color: #4285F4;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    

}

nav li {
    margin: 0 20px;
}
html{
    scroll-behavior: smooth;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

section {
    margin: 40px;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.Proyectos{
    display: grid;
    grid-template-columns: ft ft;
    
}

.project {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
}

.project p {
    font-size: 16px;
    color: #666;
    padding: 10px;
}

.project:hover {
    transform: scale(1.02);
}

footer {
    background-color: #4285F4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    font-size: 18px;
}

/* Estilo para los botones */
.download-button, .linkedin-button, .github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074b9; /* Color de fondo de los botones */
    color: #fff; /* Color de texto */
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s;
}

.download-button:hover, .linkedin-button:hover, .github-button:hover {
    background-color: #005e98; /* Cambia el color de fondo al pasar el mouse sobre los botones */
}

/* Estilo para el botón LinkedIn */
.linkedin-button {
    background-color: #0077b5; /* Cambia el color de fondo del botón LinkedIn */
}

.linkedin-button:hover {
    background-color: #005a8c;
}

/* Estilo para el botón GitHub */
.github-button {
    background-color: #333; /* Cambia el color de fondo del botón GitHub */
}

.github-button:hover {
    background-color: #000;
}

.project a img {
    max-width: 300px; /* Establece el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de aspecto */
}

/* Estilo del botón */
#copy-button {
    font-family: 'Poppins', sans-serif;
    
    display: inline-block;
    padding: 3px 3px;
    background-color: #0074b9; /* Color de fondo de los botones */
    color: #fff; /* Color de texto */
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: 600;
    font-size: 15px;
    transition: background-color 0.3s;
    border-color: #0074b9;
    border-style: solid;
    margin: 10px;
    align-items: center;
    
  }
  
/* Estilo del texto a copiar */

  

@media (max-width: 1000px) {
    nav ul {
        justify-content: center;
    
    }
    header {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 0px 0;
        height: 87vh;
        margin-top: 0;
        align-items: center;  
    }
    #imagen1{
        grid-row: 2;
        align-content: right;
    }

}